.ui-selectonemenu-list selector {
    background-color: white;
}

.ui-selectonemenu-label {
    background-color: white;
}

.ui-selectonemenu {
    background-color: white;
}

.ui-paginator-page{
    background-color: white !important;
    border-color: #125298;
    background-image: none;
}
.ui-paginator{
    background-color: white !important;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-color: #E9EBEE;
}

.ui-paginator-button {
    background-color: white;
    background-image: none;
}

.pageination li a:hover{
    background-color: #E9EBEE;
}

.availableCoursesTableHeader {
    background-color: white;
}

.ui-datatable.outlinebordered thead th,
.ui-datatable outlinebordered tbody,
.ui-datatable outlinebordered tbody tr,
.ui-datatable outlinebordered tbody td {
    border-style: none;
    border-color: white;
}

.rowClass {
    background-color: white;
}

.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable.borderless thead th {
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: buttonface;
    border-top-color: buttonface;
    background-color: white;
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    font-size: 14px;
    text-align: center;
    align-content: center;
}

.nameColumn{
    text-align: center;
    align-content: center;
    align-items: center;
}

.timeColumn{
    text-align: center;
    align-content: center;
    align-items: center;
}

.subscribeColumn {
    text-align: center;
    align-content: center;
    align-items: center;
}

.headerClass {
    text-align: center;
}

.menu .ui-selectonemenu-label { 
    background: white;
}

.ui-selectonemenu-label.menu {
    background-color: white;
}

.ui-selectonemenu input.ui-selectonemenu-label{ 
    background: white; 
}

.panel .ui-selectonemenu-list { 
    background: white;
}